body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

h1 {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #000000;
}

pre {
	background-color: #E0E0E0;
	padding: 6px;
}

#note {
	background-color: #ff9966;
	border: 1px solid #000000;
	padding: 0.05cm;
}

#coreapi {
	background: #ff8080;
	border: 1px solid #000000;
	padding: 0.05cm;
}
